#sketch {
    height: 320px;
}
#jesustiger {
    width: 30%;
    bottom: 10%;
    left: 3%;
}
#sliceoflife {
    width: 30%;
    bottom: 10%;
    left: 35%;
}
#fremine {
    width: 30%;
    bottom: 10%;
    left: 67%;
}
#flat-colour-sec {
    width: 1000px;
}
#comingofage {
    height: 90%;
    left: 5%;
    bottom: 5%;
}
#leafknight {
    height: 67%;
    right: 17.4%;
    bottom: 5%;
    z-index: 1;
}
#madscientist {
    height: 67%;
    top: 0%;
    right: 5%;
}
#thisisfine {
    width: 40%;
    left: 5%;
    bottom: 5%;
}
#greenaestetic {
    height: 67%;
    left: 47%;
    top: -5%;
}
#getototo {
    height: 50%;
    right: 5%;
    bottom: 5%;
}
#full-render {
    height: 600px;
}
#tomtord {
    height: 45%;
    left: 5%;
    top: 2.5%;
}
#happynewyear {
    height: 45%;
    left: 45%;
    top: 2.5%;
}
#spidergirl {
    height: 45%;
    left: 5%;
    bottom: 2.5%;
}
#everythings-fine {
    height: 45%;
    left: 55%;
    bottom: 2.5%;
}